#container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(16, 50px);
}

.box {
    padding: 14px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    cursor: pointer;
}

button {
    height: 40px;
    border-radius: 5px;
}